*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html{
    height: 100%;
}

::-webkit-scrollbar{
        display: none;
    }


/*                                Page Main                              */
/*----------------------------------------------------------------------*/
main{
    width: 100%;
}



/*                            All sections                            */
/*----------------------------------------------------------------------*/
.identical-section{
    color: #fff;

    ::-webkit-scrollbar{
        display: none;
    }
    
    width: 100%;
    margin-bottom: 55px;
}

/* Profile + title */
.identical-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15.5px;
}

/* Artists profile container */
.identical-profile-container
{
    display: flex;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
    
}

/* artists section h 1 */
.identical-container h1{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "poppins", sans-serif;

    margin: 10px 0 5px 15.5px;
}

/* artists section images */
.identical-container img{
    width: 150px;

    scroll-snap-align: center;

    aspect-ratio: 16/15.8;
    object-fit: cover;

    border-radius: 4px;
}

.identical-container img, .identical-container h2{
    margin-left: 16px;
    font-size: 0.9rem;
    font-weight: 550;
}

.identical-container h2{
    margin-top: 11px;
}

/*     Large screen content styling    */
/* section expanding link */
.identical-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.identical-title a{
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;

    display: none;

    cursor: pointer;

    margin-right: 15px;
}

