a{
    color: black;
    text-decoration: none;
    font-weight: 500;
}

li{
    list-style-type: none;
}

.pages-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-list-container{
    margin: 20px 15px;
}

.pages-container li{
    background: linear-gradient(210deg, rgba(4, 248, 248, 0.877), rgba(7, 7, 247, 0.589), rgba(253, 209, 209, 0.959));
    display: inline-block;
    width: 150px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 120px;
    font-size: 1.2rem;
    text-align: center;
}

.ul-list-container ul{
    
}

.pages-container li:hover a{
    color: white;
}
